aiofiles
annotated-types
anyio
art
click
fastapi
filelock
fsspec
httpie
idna
Jinja2
kubernetes
markdown-it-py
MarkupSafe
mdurl
mpmath
networkx
numpy
pyfiglet
Pygments
PyYAML
pydantic>=2.0.0
pydantic_core
questionary
rich
shellingham
sniffio
starlette
sympy
textual>=0.46
torch
transformers
typer
typing_extensions
uvicorn
